<!DOCTYPE html>
<html>
<head>
  <title>Hi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> <!--embedded ruby #1-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> <!--embedded ruby #2-->
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!--responsiveness on mobile device-->
</head>
<body>

	<!--creates link to partial-->
	<%=render 'layouts/header' %>
	<div class="container">
		<%= yield %> <!--embedded ruby #3-->
	</div>

</body>
</html>
