<!DOCTYPE html>
<html>
<head>
  <title>Hi</title>
  <%= stylesheet_link_tag 'application', media: 'all' %> <!--embedded ruby #1-->
  <%= javascript_include_tag 'application' %> <!--embedded ruby #2-->
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!--responsiveness on mobile device-->
</head>
<body>

	<!--creates link to partial-->
	<%=render 'layouts/header' %>
	<div class="container">
		<% flash.each do |name, msg| %>
     	<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
		<%= yield %> <!--embedded ruby #3-->
	</div>

</body>
</html>
